svg:not([fill]) {
  fill: #fdf6e3 !important;
}

rect:not([fill]) {
  fill: #002b36 !important;
}

i {
  filter: invert(50%) !important;
}

.f6rbj1fe {
  display: none !important;
}

.mw5ich9q {
  min-height: calc(100vh - 124px) !important;
}

:root:root {
  --card-background: #073642 !important;
  --divider: #657b83 !important;
  --hosted-view-selected-state: rgba(0, 43, 54, 0.8) !important;
  --hover-overlay: rgba(0, 43, 54, 0.3) !important;
  --media-inner-border: rgba(253, 246, 227, 0.04) !important;
  --media-outer-border: #002b36 !important;
  --messenger-card-background: #002b36 !important;
  --messenger-reply-background: #586e75 !important;
  --overlay-alpha-80: rgba(0, 43, 54, 0.8) !important;
  --popover-background: #002b36 !important;
  --primary-deemphasized-button-background: #001e25 !important;
  --primary-text: #ececec !important;
  --scroll-thumb: #073642 !important;
  --secondary-button-background: #002b36 !important;
  --secondary-text: #bcbcbc !important;
  /* --shadow-1: #073642  !important; */
  --shadow-2: #073642 !important;
  --shadow-inset: #002b36 !important;
  --surface-background: #073642 !important;
  --wash: #073642!important;
  --web-wash: #002b36 !important;
  --nav-bar-background: #073642;
  --comment-background: #002b36;
  --fds-dark-mode-gray-100: #073642;
  --always-dark-gradient: linear-gradient(rgba(0, 43, 54, 0), rgba(0, 43, 54, 0.6));
  --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(253, 246, 227), rgba(253, 246, 227, .7), rgba(253, 246, 227, .4), rgba(7, 54, 66, 0));
  --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240, 242, 245.9), rgba(240, 242, 245, .7), rgba(240, 242, 245, .4), rgba(240, 242, 245, 0));
  --nav-bar-background-gradient: linear-gradient(to top, #073642, rgba(7, 54, 66, .9), rgba(7, 54, 66, .7), rgba(7, 54, 66, .4), rgba(7, 54, 66, 0));
  --nav-bar-background-gradient-wash: linear-gradient(to top, #002b36, rgba(0, 43, 54, .9), rgba(0, 43, 54, .7), rgba(0, 43, 54, .4), rgba(0, 43, 54, 0));
  --secondary-button-background-floating: #eee8d5;

  

}