/* Author: Md. Rifat Hasan Jihan <http://rhjihan.github.io/> */

/* svg:not([fill]) {
  fill: rgb(253, 246, 227) !important;
} */

rect:not([fill]) {
  fill: #002b36 !important;
}

/* i {
  filter: invert(80%) !important;
} */

.f6rbj1fe {
  display: none !important;
}

.mw5ich9q {
  min-height: calc(100vh - 124px) !important;
}

  /* react list */
/* .ms7hmo2b {
  background-color: rgb(253, 246, 227, 0.95) !important;
} */

  /* overlay */
/* .ms7hmo2b.kr520xx4.j9ispegn.poy2od1o.n7fi1qx3.i09qtzwb {
  background-color: rgb(0, 43, 54, 0.5) !important;
} */

.n851cfcs.aov4n071.t6na6p9t.l82x9zwi.uo3d90p7.pw54ja7n.ue3kfks5.g6srhlxm {
  /* poll progress  */
  background-color: #0b5366 !important;
}

/* .oo9gr5id {
  color: #fdf6e3 !important;
} */

/* .q2y6ezfg {
  background-color: #0b5366 !important;
} */

/* :root, .__fb-light-mode {
  --card-background: #fdf6e3 !important;
} */


/* .tqsryivl {
    background-color: #002b36 !important;
} */

:root:root, __fb-dark-mode:root, .__fb-dark-mode {
  --comment-background: #094554 !important;
  --always-black: #001e25 !important;
  --card-background-flat: #002b36 !important;
  --surface-background: #073642 !important;
  --fds-black: #586e75 !important;
  --card-background: #073642 !important;
  --divider: #657b83 !important;
  --hosted-view-selected-state: rgba(0, 43, 54, 0.9) !important;
  --hover-overlay: rgba(85, 112, 122, 0.2) !important;
  --media-inner-border: rgba(253, 246, 227, 0.04) !important;
  --media-outer-border: #002b36 !important;
  --messenger-card-background: #002b36 !important;
  --messenger-reply-background: #586e75 !important;
  --overlay-alpha-80: rgba(0, 43, 54, 0.8) !important;
  --popover-background: #002b36 !important;
  --primary-deemphasized-button-background: #001e25 !important;
  --primary-text: #fdf6e3 !important;
  --primary-icon: #fdf6e3 !important;
  --placeholder-icon: #93a1a1 !important;
  --placeholder-text: #93a1a1 !important;
  --scroll-thumb: #073642 !important;
  --secondary-button-background: #094554 !important;
  --secondary-icon: #eee8d5 !important;
  --secondary-text: #eee8d5 !important;
  /* --shadow-1: #073642  !important; */
  --placeholder-text: #93a1a1 !important;
  --shadow-2: #073642 !important;
  --shadow-inset: #002b36 !important;
  --surface-background: #073642 !important;
  --wash: #094554 !important;
  --web-wash: #002b36 !important;
  --nav-bar-background: #073642 !important;
  --comment-background: #094554 !important;
  --fds-dark-mode-gray-100: #073642 !important;
  --always-dark-gradient: linear-gradient(rgba(0, 43, 54, 0), rgba(0, 43, 54, 0.6)) !important;
  --nav-bar-background-gradient: linear-gradient(to top, #FFFFFF, rgba(253, 246, 227), rgba(253, 246, 227, .7), rgba(253, 246, 227, .4), rgba(7, 54, 66, 0)) !important;
  --nav-bar-background-gradient-wash: linear-gradient(to top, #F0F2F5, rgba(240, 242, 245.9), rgba(240, 242, 245, .7), rgba(240, 242, 245, .4), rgba(240, 242, 245, 0)) !important;
  --nav-bar-background-gradient: linear-gradient(to top, #073642, rgba(7, 54, 66, .9), rgba(7, 54, 66, .7), rgba(7, 54, 66, .4), rgba(7, 54, 66, 0)) !important;
  --nav-bar-background-gradient-wash: linear-gradient(to top, #002b36, rgba(0, 43, 54, .9), rgba(0, 43, 54, .7), rgba(0, 43, 54, .4), rgba(0, 43, 54, 0)) !important;
  --secondary-button-background-floating: #094554 !important;
}
